<div>Updates</div>

@section scripts{
    careerRoad.controller('HomeCtrl', function ($scope, $route, $routeParams, $location) {
    $scope.options = [{ name: "Home", url: "/Home" }, { name: "Setting", url: "/Setting" }, { name: "About", url: "/About" }];
    });
}
